<div class="blogText-nav">
    <a id="all-topics" href="../blog/all-topics.html">all topics</a>
    <!-- <a id="branding" href="../blog/branding.html">branding</a> -->
    <!-- <a id="career" href="../blog/career.html">career</a> -->
    <!-- <a id="case-study" href="">case study</a> -->
    <!-- <a id="products" href="../blog/products.html">products</a> -->
    <!-- <a id="tools" href="../blog/tools.html">tools</a> -->
    <a id="web-design" href="../blog/web-design.html">web design</a>
</div>